.feature-item
  padding: 10px 20px 15px
  border-radius: 2px
  box-shadow: 0 1px 3px rgba(#000, 0.15)
  background: #fff
  text-align: center

  &__description
    font-size: 1.4rem
    margin-bottom: 15px

  &__footer
    text-align: right
