<div class="features">
  <div class="features__control">
    <fd-search-bar fdOpenSearch [normalWidth]="200" [focusWidth]="300" [(query)]="query"></fd-search-bar>
  </div>

  <div class="features__list">
    <div *ngIf="!features || !features.length">No features.</div>
    <fd-feature-item class="features__item"
                  *ngFor="let item of features | features:query"
                  [feature]="item"
                  (remove)="removeFeature($event)"></fd-feature-item>
  </div>

  <router-outlet></router-outlet>
</div>
