.search-bar
  border: 1px solid #ced4da
  background: #fff
  border-radius: 3px
  display: flex
  align-items: center
  &__svg
    width: 15px
    height: 15px
    fill: #333
    &-wrapper
      padding: 5px 10px
      background: #e9ecef
      border-right: 1px solid #ced4da
  &__input
    flex-grow: 1
    padding: 0 10px
    font-size: 1.2rem